<link href="./style.css" rel="stylesheet" type="text/css" />
<table class="awardbox">
<tr><td align="center"><i>风云榜最后更新于: <b>7:44am, 10/29/09</b></i></td></tr>

<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为游戏时间最高的一位玩家,共计 <b>14.00 小时</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=9">雪碧</a> 为仅次其后的玩家,共计 <b>9.28 小时</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 是真正的神枪手,准确率高达 <b>48.93</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>45.85&#37;</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 号称天下第一屠宰王共计迫害了 <b>14,301 个感染者.</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>6,547</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 获得神枪手封号 <b>6,998 个爆头!</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>3,002</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 共计残杀了 <b>13,560 个感染者!</b><br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>6,185</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 共计残杀了 <b>234 个亨特!</b><br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>185</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 共计残杀了 <b>253 个烟鬼!</b><br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>90</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 共计残杀了 <b>254 个胖子!</b><br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>87</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 获得战地医生助理封号,给予队友药丸高达 <b>8 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=8">[A.C]板砖</a> 为仅次其后的玩家,共计 <b>4</b>.</i></td></tr>
<tr><td><a href="player.php?userid=7">[A.C]+++我是流氓我怕谁++</a> 获得战地神医封号,帮助队友恢复生命高达 <b>55次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=8">[A.C]板砖</a> 为仅次其后的玩家,共计 <b>53</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 挽救队友于Hunter无情的利爪下次数高达 <b>29 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=288">☆神奇懒人★</a> 为仅次其后的玩家,共计 <b>14</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 帮助队友从烟鬼的舌头下逃脱高达 <b>38 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=53">K匪</a> 为仅次其后的玩家,共计 <b>20</b>.</i></td></tr>
<tr><td><a href="player.php?userid=231">DODBOY</a> 力量的体现,保护队友高达 <b>56 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=327">追命</a> 为仅次其后的玩家,共计 <b>22</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 被大家封为拯救之神,因为他拯救了 <b>40 个队友</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=166">康富來</a> 为仅次其后的玩家,共计 <b>29</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 绝非小白,因为他共计营救了 <b>31 个队友</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=76">我不想活的！！</a> 为仅次其后的玩家,共计 <b>27</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 带领大家一次又一次的通观高达 <b>4 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=8">[A.C]板砖</a> 为仅次其后的玩家,共计 <b>3</b>.</i></td></tr>
<tr><td><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 所在的时候,带领团队成功的绞杀了TANK高达 <b>87 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=9">雪碧</a> 为仅次其后的玩家,共计 <b>64</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 所在的时候,带领团队成功的绞杀了TANK并且无死亡次数高达 <b>137 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>54</b>.</i></td></tr>
<tr><td><a href="player.php?userid=3">-敷衍℃</a> 是无人可以替代的,他所带领的团队全员安全到达安全屋次数高达 <b>14 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=6">[A.C]无:枪法.意识.胆量</a> 为仅次其后的玩家,共计 <b>12</b>.</i></td></tr>
<tr><td><a href="player.php?userid=166">康富來</a> 是一位可怕的队友,纵火烧伤队友高达 <b>169 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=186">杀尸放火</a> 为仅次其后的玩家,共计 <b>123</b>.</i></td></tr>
<tr><td><a href="player.php?userid=1">新手-Noob</a> 很可能会被OP禁止进入游戏,因为他杀害自己人高达 <b>0 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=3">-敷衍℃</a> 为仅次其后的玩家,共计 <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?userid=46">壹壹&middot;贰贰</a> 被评为误伤之王,误伤队友 <b>33 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=5">白老大</a> 为仅次其后的玩家,共计 <b>30</b>.</i></td></tr>
<tr><td><a href="player.php?userid=76">我不想活的！！</a> 被评为恶意捣乱者,因为他把感染者放入安全屋次数达到了 <b>16 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=142">xxooxoxox</a> 为仅次其后的玩家,共计 <b>16</b>.</i></td></tr>
<tr><td><a href="player.php?userid=5">白老大</a> 绝对不是一位绅士,因为他打扰女巫高达到 <b>35 次</b>.<br />
<i style="font-size: 12px;"><a href="player.php?userid=231">DODBOY</a> 为仅次其后的玩家,共计 <b>26</b>.</i></td></tr>
</table>